* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.book-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.book-card {
  width: 250px;
  height: 350px;
  overflow: hidden;
  background-color: #fff;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
  transition: transform 0.4s;
}
/* Hover effect for book card */
.book-card:hover {
  transform: translateY(-10px);
}

/* Book cover image */
.book-cover {
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
  max-height: 250px;
  margin-bottom: 15px;
}

/* Book title */
.book-title {
  font-size: 1.3rem;
  color: #34495e;
  margin: 10px 0;
  text-align: center;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Book author */
.book-author {
  font-size: 1rem;
  color: #7f8c8d;
  margin-bottom: 10px;
  font-style: italic;
  text-align: center;
}


/* Responsive design */
/* Responsive design for mobile devices */
@media (max-width: 480px) {

    .book-card{
        width: 280px;
        height: 350px;
    }
  .book-cover {
    max-height: 150px;
  }

  .book-title {
    font-size: 1rem;
  }

  .book-author {
    font-size: 0.8rem;
  }

}
